h1{
    color: white;
    
}
header{
    background-color: rgba(51,51,51,255);
    padding: 10px;
}



#loan-button{
    background: rgba(75,240,161,255);
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    

}



#bank-button{
    background: rgba(237,239,78,255);
    border-radius: 5px;
    border: none;
    padding: 15px 16px;
}
#work-button{
    background: rgba(77,112,240,255);
    border-radius: 5px;
    border: none;
    padding: 15px 16px;
}

#pay-button{
    background: rgb(220,20,60);
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    display: none;
    

}
#buy-button{
    background: rgb(30, 133, 180);
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    display: auto;
    

}

#loan-element, #loan-balance{
    display: none;
}

#joe-banker, #work, #laptops{
    background-color: rgba(240,251,251,255);
    height: 250px;
    border-radius: 15px;
    min-height: 400px;

    
}
img{
    max-height: 150px;
}


